.accent-text {
  color: #FF7B00;
  display: inline !important;
}

/* Nav */

.nav-logo {
  width: 25%;
  left: 37.5%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.nav-bar {
  height:50px;
  background-color: #FFFFFF !important;
  border-bottom: 3px solid #14CCBC !important;
}

/* Sign In and up */
.logo {
  text-align: center;
  border-bottom: 3px solid #14CCBC;
}

.redirect-msg {
  padding: 10px;
}

/* Reseting Weird Ionic shit */
.has-header {
  top: 0 i
}

/*card swipe css*/
td-cards {
    display: block;
}

td-card {
    position: absolute;
    margin: 10px 10%;
    width: 80%;
    height: 400px;
    border: 1px solid #999;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.2);
    border-radius: 6px;
    background-color: rgb(255,255,255);
    text-align: center;
}

.td-card .title {
    height: 40px;
    font-size: 15px;
    padding: 15px;
}

td-card .image img {
  max-width:100%;
}

td-card pre{
  font-family: Calisto MT;
}

td-card .front img {
    height: 390px;
    /*width: 100%;*/
    border-radius: 6px;
    /*border: 1px solid black;*/
}

td-card .back pre {
    height: 390px;
    width: 250px;
    /*text-align: center;*/
    border-radius: 6px;
    /*border: 1px solid black;*/
}

/* Overlay styling*/

.overlayBox {
    position: absolute;
    left: 50%;
    height: 98%;
    width: 100%;
    top: -80px;
    opacity: 0;
    margin: 80px 0 0 -149px;
}

.boxed {
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
}

.yes-text {
    background-color: rgba(0,256,0,0.2);
}

.yesBox {
    margin: 10% 60% 0% 10%;
    border: 2px solid #00FF00;
    color: rgb(0, 256, 0);
    -webkit-transform: rotate(-25deg);
}

.no-text {
    background-color: rgba(256,0,0,0.2);
}

.noBox {
    margin: 10% 10% 0% 60%;
    border: 2px solid #FF0000;
    color: rgb(256, 0, 0);
    -webkit-transform: rotate(25deg);
}

.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}

/*info styling*/
.item-thumbnail-left{
  position: absolute;
  display: block;
  bottom: 15%;
  margin: 0 10%;
  width: 80%;
  text-align: center;
}

.info {
  position: absolute;
  top: 25%;
  right:18%;
}

.item-thumbnail-left img{
  width:80%;
}

img.bookCover{
    width: 100%;
}

ion-item {
  border-top:3px solid #FF7B00 !important;
  border-bottom: 3px solid #40FFF3 !important;
}

/*end of card swipe css*/
