<ion-view>
  <ion-pane ng-controller="CardsCtrl">
      <td-cards>
        <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
        on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" ng-click="clicked = !clicked">
          <div class="image front" ng-show="!clicked">
            <div class = "no-text overlayBox"><div class="noBox boxed">Trash</div></div>
            <img ng-src="{{card.image}}">
            <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Save</div></div>
          </div>
          <div class="image back" ng-show="clicked">
          <div class ="no-text overlayBox"><div class="noBox boxed">Trash</div></div>
            <pre>{{card.sample}}</pre>
          <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Save</div></div>
          </div>
        </td-card>
        <div class="item item-thumbnail-left">
          <img ng-src="{{currentCard.image}}">
          <div class="info">
            <h2>{{currentCard.title}}</h2>
            <p>{{currentCard.author}}</p>
          </div>
        </div>
      </td-cards>

    </ion-pane>
</ion-view>
