<ion-view>
  <ion-content>
  <h1>Book Detail View</h1>
  <div class="list card">

  <div class="item item-avatar">
    <img src="../img/ionic.png">
    <h2>East of Eden</h2>
    <p>John Steinbeck</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="delorean.jpg">
    <p>
      8-bit Wes Anderson trust fund XOXO. American Apparel semiotics Portland squid. Viral vegan American Apparel, Tumblr photo booth scenester bicycle rights hella lo-fi ennui lumbersexual tousled Helvetica. High Life Schlitz typewriter iPhone. Viral Odd Future shabby chic DIY messenger bag keffiyeh. Lomo High Life 3 wolf moon, put a bird on it migas bicycle rights selvage ugh butcher 90's organic Odd Future gentrify meh. 8-bit hoodie salvia, cold-pressed yr tote bag twee.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

   </ion-content>
</ion-view>
