<ion-view view-title="Page 100">
  <ion-pane ng-controller="CardsCtrl">
      <td-cards>
        <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
        on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" ng-click="clicked = !clicked">
          <div class="image front" ng-show="!clicked">
            <div class = "no-text overlayBox"><div class="noBox boxed">Dislike</div></div>
            <img ng-src="{{card.image}}">
            <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Like</div></div>
          </div>
          <div class= "back" ng-show="clicked">
            <img ng-src="img/text.png">
          </div>
        </td-card>
        <div class="item item-avatar">
          <h2>{{currentCard.title}}</h2>
          <p>{{currentCard.author}}</p>
        </div>
      </td-cards>

    </ion-pane>
</ion-view>
