<ion-view view-title="Page100" hide-nav-bar="true" class="splash-page" ng-controller="AuthCtrl">
  <ion-content scroll="false">

  <div class="padding logo">
      <h1>Page100</h1>
  </div>

    <form ng-submit="signin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Sign In</button>
        </label>
      </div>
    </form>
    <p> Don't have an account? <a href = '#/signup'>Sign Up Here</a></p>

  </ion-content>
</ion-view>
